@using SparePro.Repository.Resource;


@{
    Layout = "";
}

<!DOCTYPE html>

<html>
<head>
    <script>
        ShowCommonBack();      

        LoadBrand("");

        function LoadBrand(BrandID) {

            $.ajax({
                type: "GET",
                url: BaseURL + "Common/Load_Brand",
                datatype: "Json",
                success: function (data) {
                    $("#DdlBrand option").remove();
                    $.each(data, function (index, value) {
                        $('#DdlBrand').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                    });
                }
            }).done(function (result) {
                if (BrandID != "") {
                   
                    $("#DdlBrand").val(BrandID);
                }
                else {
                    $("#DdlBrand").val("");
                }
            });
        }

        LoadPart("");

        function LoadPart(PartID) {

            $.ajax({
                type: "GET",
                url: BaseURL + "Common/Load_Part",
                datatype: "Json",
                success: function (data) {
                    $("#DdlPart option").remove();
                    $.each(data, function (index, value) {
                        $('#DdlPart').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                    });
                }
            }).done(function (result) {
                if (PartID != "") {
                    $("#DdlPart").val(PartID);
                }
                else {
                    $("#DdlPart").val("");
                }
            });
        }

        EditItem();

        $('#btnItemSave').click(function () {

             if ($(this).hasClass("unclickable")) {
                e.preventDefault();
            } else  {

                var _errorMsg = "";
                if ($("#DdlBrand").val() == "") {
                    _errorMsg += "Please Select Brand";
                }
                if ($("#DdlPart").val() == "") {
                     _errorMsg += "Please Select Part";
                }
                if ($("#TxtItemName").val() == "") {
                    _errorMsg += '<br />' + "Please Enter Item Name";
                }
                if ($("#TxtItemPrice").val() == "" || $("#TxtItemPrice").val() == 0) {
                    result = false;
                    _errorMsg += '<br />' + "Please Enter Item Price";
                }

                if (_errorMsg.length > 0) {
                    ErrorAlert(_errorMsg);
                    return false;
                }
                $.confirm({
                    title: ConfirmAlert_SuccessMessage,
                    content: GetParamValue("BrandID") == 0 ? ConfirmAlert_Message_Content.replace("{0}", ConfirmAlert_SaveMessage_Content) : ConfirmAlert_Message_Content.replace("{0}", ConfirmAlert_UpdateMessage_Content),
                    animation: 'zoom',
                    closeAnimation: 'zoom',
                    buttons: {
                        'confirm': {
                            text: Alert_YesMessage,
                            btnClass: Alert_Button_Style,
                            keys: ['enter'],
                            action: function () {

                                var ItemDetail = {
                                    ItemID: GetParamValue("ItemID"),
                                    BrandID: $("#DdlBrand").val(),
                                    PartID: $("#DdlPart").val(),
                                    ItemName: $("#TxtItemName").val(),
                                    ItemPrice: $("#TxtItemPrice").val(),
                                    SortOrder: $("#TxtItemSortOrder").val(),
                                    Status: $("#ItemStatus").is(":checked")
                                };

                                $.ajax({
                                    url: BaseURL + "ProjectMaster/ItemMaster_Save", type: "POST", data: { ObjItemModel: ItemDetail }
                                })
                                    .done(function (result) {
                                        if (result.Result == true) {
                                            SucessAlert(result.Message);
                                            ItemClear();
                                            BackFunction();

                                        }
                                        else if (result.Result == false) {
                                            ErrorAlert(result.Message);
                                        }
                                    })
                                    .fail(function () {
                                        ErrorAlert(result.Message);
                                    });
                            }
                        },
                        cancel: {
                            text: Alert_NoMessage,
                            btnClass: Alert_Button_Style
                        }
                    }
                });

            }
        });

        function ItemClear() {
            $("#DdlBrand").val("");
            $("#DdlPart").val(0);
            $("#TxtItemName").val("");
            $("#TxtItemPrice").val("");
            $("#TxtItemSortOrder").val("");
            $('#ItemStatus').prop('checked', true);
        }

        $("#btnItemReset").click(function (e) {
            if ($(this).hasClass("unclickable")) {
                e.preventDefault();
            } else {

                $(this).addClass("unclickable");
                ResetItem();
            }
        });


        function ResetItem() {
            if (GetParamValue("ItemID") != 0) {
                EditItem();
            }
            else {
                ItemClear();
            }
        }

        function EditItem() {

            if (GetParamValue("ItemID") != 0) {
                $.ajax({
                    type: "GET",
                    url: BaseURL + "ProjectMaster/ItemMaster_Edit",
                    data: { ItemID: GetParamValue("ItemID") },
                    datatype: "Json",
                    success: function (data) {
                        LoadBrand(data.BrandID);
                        LoadPart(data.PartID);
                        $("#TxtItemName").val(data.ItemName);
                        $("#TxtItemPrice").val(data.ItemPrice);
                        $("#TxtItemSortOrder").val(data.SortOrder);
                        if (data.Status) {
                            $('#ItemStatus').prop('checked', true);
                        }
                        else {
                            $('#ItemStatus').prop('checked', false);
                        }
                    }

                });
            }
            else {
                $('#ItemStatus').prop('checked', true);
            }
        }

        var tabindex = 1;
        $('[tabindex=' + tabindex + ']').focus();
    </script>
</head>
<body>
    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col-md-12 -->
                <div class="col-lg-12">
                    <div class="card card-pd">
                       
                        <div class="card-header">
                            <span style="font-size: 18px;" class="m-0"><i class="fas fa-box"></i></span>
                            <span style="font-size: 18px; border-left: 1px solid #ccc; padding-left: 10px;"> Item Master - [Add/Edit] </span>
                        </div>
                        <div class="card-body">

                            <p class="introtext">@SYSPageModel.Common_Hint</p>

                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group required">
                                        <label class="control-label">Brand</label>
                                        @Html.DropDownList("DdlBrand", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control select2", @tabindex = 1, @width = "100%" })
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label">Part</label>
                                        @Html.DropDownList("DdlPart", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control select2", @tabindex = 1, @width = "100%" })
                                    </div>


                                    <div class="form-group required">
                                        <label class="control-label">Item Name</label>
                                        <input type="text" class="form-control" id="TxtItemName" maxlength="200" >
                                    </div>


                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group required">
                                        <label class="control-label">Item Price</label>
                                        <input type="number" class="form-control" id="TxtItemPrice" min="0" onkeyup="if(this.value<0){this.value =this.value * -1}" maxlength="10" >
                                    </div>
                                    <div class="form-group">
                                        <label>Sort Order</label>
                                        <input type="text" class="form-control" id="TxtItemSortOrder" >
                                    </div>
                                    <div class="pdt-25">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-primary">
                                                        @Html.CheckBox("ItemStatus")
                                                        <label for="HSNStatus">
                                                            @PROPageModel.Common_Status
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pdt-30">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" id="btnItemReset" class="btn btn-secondary btn-block"><i class="fa fa-undo"></i> @SparePro.Repository.WEBPAGEBUTTON.RESET</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" id="btnItemSave" class="btn btn-primary btn-block"><i class="fa fa-save"></i> @SparePro.Repository.WEBPAGEBUTTON.SAVE</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->

</body>
</html>

