@using SparePro.Repository.Resource;
@{
 
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <script> 

        $("#HtnUserID").val("@Model.UserID"); 
        $("#HtnOldPassword").val("@Model.OldPassword"); 
        $("#txtOldPassword").val("@Model.OldPassword"); 

        function ClearChangePassword() {
            $("#txtOldPassword").val("");
            $("#txtNewPassword").val("");
            $("#txtConfirmNewPassword").val("");
        }

        function PasswordValidate() {
        var Result = true;

        if ($("#txtOldPassword").val() == "") {
            $("#txtOldPassword").focus();
                ErrorAlert("@SYSMessage.ChangePassword_EnterOldPassword");
                Result = false;
                return false;
            }
            else if (($("#txtNewPassword").val() == "")) {
                $("#txtNewPassword").focus();
                ErrorAlert("@SYSMessage.ChangePassword_EnterNewPassword");
                Result = false;
                return false;
            }
            else if (($("#txtConfirmNewPassword").val() == "")) {
                $("#txtConfirmNewPassword").focus();
                ErrorAlert("@SYSMessage.ChangePassword_EnterConfirmPassword");
                Result = false;
                return false;
            }

            var password = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmNewPassword").val();
            var OldPassword = $("#HtnOldPassword").val();
            if (OldPassword != $("#txtOldPassword").val()) {
                $("#txtOldPassword").focus();
                ErrorAlert("@SYSMessage.ChangePassword_OldPasswordMismatch");
                return false;
            }
            else if (password != confirmPassword) {
                $("#txtNewPassword").focus();
                ErrorAlert("@SYSMessage.ChangePassword_NewAndConfirmPasswordMismatch");
                return false;
            }

            var pswd = $('input[type=password]').val();
            if (pswd != $("#txtOldPassword").val()){
                if (pswd.length < 8) {
                    ErrorAlert("@SYSMessage.ChangePassword_PasswordCriteria_Length");
                    Result = false;
                    return false;
                }
                //validate letter
                if (!(pswd.match(/[A-z]/))) {
                    ErrorAlert("@SYSMessage.ChangePassword_PasswordCriteria_OneLetter");
                    Result = false;
                    return false;
                }

                //validate capital letter
                if (!(pswd.match(/[A-Z]/))) {
                    ErrorAlert("@SYSMessage.ChangePassword_PasswordCriteria_CapitalLetter");
                    Result = false;
                    return false;
                }

                //validate number
                if (!(pswd.match(/\d/))) {
                    ErrorAlert("@SYSMessage.ChangePassword_PasswordCriteria_OneNumber");
                    Result = false;
                    return false;
                }
            }

            return Result;
        }

        $('#btnChangePasswordSubmit').click(function () {
            if (PasswordValidate() == true) {
                ProfileSave();
            }
         }); 

        function ProfileSave() {
            var ProfileDetail = {
                UserID: $("#HtnUserID").val(),
                Password: $('#txtOldPassword').val(),
                NewPassword: $('#txtNewPassword').val() 
            };

            $.confirm({
                title: ConfirmAlert_SuccessMessage,
                content: $("#HtnUserID").val() == "" ? ConfirmAlert_Message_Content.replace("{0}", ConfirmAlert_SaveMessage_Content) : ConfirmAlert_Message_Content.replace("{0}", ConfirmAlert_UpdateMessage_Content),
                animation: 'zoom',
                closeAnimation: 'zoom',
                buttons: {
                'confirm': {
                text: Alert_YesMessage,
                btnClass: Alert_Button_Style,
                action: function () {
                $.ajax({ url: BaseURL + "SystemMaster/UserProfile_Save", type: "POST", data: { ObjUserModel: ProfileDetail } })
                    .done(function (result) {
                    if (result.Result == true) {
                        SucessAlert(result.Message);
                        ClearChangePassword();
                        GetMenu('@Url.Action("ChangePassword", "SystemMaster")');
                    }
                    else if (result.Result == false) {
                        ErrorAlert(result.Message);
                    }
                    })
                    .fail(function () {
                        ErrorAlert(result.Message);
                    });
                    }
                },
                cancel: {
                    text: Alert_NoMessage,
                    btnClass: Alert_Button_Style
                    }
                }
            });
        }

    </script> 
</head>

<body>
    <input type="hidden" id="HtnUserID" /> 
    <input type="hidden" id="HtnOldPassword" />
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Content Header (Page header) -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-pd">  
                            <div class="card-header">
                                <span style="font-size: 18px;" class="m-0"><i class="fas fa-shopping-basket"></i></span>
                                <span style="font-size: 18px; border-left: 1px solid #ccc; padding-left: 10px;"> @SYSTitle.Title_ChangePassword </span>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>@SYSPageModel.ChangePassword_OldPassword</label>
                                            <input type="password" class="form-control" id="txtOldPassword" maxlength="15" placeholder="@SYSPageModel.Tooltip_OldPassword...">
                                        </div>
                                        <div class="form-group">
                                            <label>@SYSPageModel.ChangePassword_NewPassword</label>
                                            <input type="password" class="form-control" id="txtNewPassword" maxlength="15" placeholder="@SYSPageModel.Tooltip_NewPassword...">
                                        </div>
                                        
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="form-group">
                                            <label>@SYSPageModel.ChangePassword_ConfirmNewPassword</label>
                                            <input type="password" class="form-control" id="txtConfirmNewPassword" maxlength="15" placeholder="@SYSPageModel.Tooltip_ConfirmNewPassword...">
                                        </div>
                                        <div class="pdt-25">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="button" id="btnChangePasswordSubmit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> @SparePro.Repository.WEBPAGEBUTTON.UPDATE</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> 
                    </div>
                </div>

            </div><!-- /.content-wrapper -->
        </div>
    </div> 
</body>

</html>


