@using SparePro.Repository.Resource;

@{
    Layout = "";
}


<head>
    <style>
        .StockPopover {
            padding: 15px 25px 20px 25px;
        }

        a.ViewLinkChange:hover, a.ViewLinkChange:active {
            color: #0069d9;
            font-weight: bold;
        }
    </style>
    <script>
        var GrdStock, StockStatus = '';

        ShowCommonBack();

        $('body').on('click', function (e) {
            if ($(e.target).data('toggle') !== 'popover' && $(e.target).parents('.popover.in').length === 0) {
                $('.popover').popover('hide');
            }
        });

        $.ajax({
            type: "GET",
            url: BaseURL + "Common/Load_Brand",
            datatype: "Json",
            success: function (data) {
                $("#DdlBrand option").remove();
                $.each(data, function (index, value) {
                    $('#DdlBrand').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                });
            }
        }).done(function (result) {

        });

        $.ajax({
            type: "GET",
            url: BaseURL + "Common/Load_Part",
            datatype: "Json",
            success: function (data) {
                $("#DdlPart option").remove();
                $.each(data, function (index, value) {
                    $('#DdlPart').append('<option value="' + value.ID + '">' + value.Name + '</option>');
                });
            }
        }).done(function (result) {

        });

        document.onkeydown = function (evt) {
            var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
            if (keyCode == 13) {
                //StockSearch();
                return false;
            }
        }

        GrdStock = $("#GrdStock").grid({
            primaryKey: "ItemDesc",
            uiLibrary: "bootstrap4",
            dataSource: '@Url.Action("Stock_FindAll", "Reports")',
            columns: [
                { field: "ItemDesc", width: 65, title: "Item Desc", sortable: false, align: "left" },
                { field: "OrderQty", width: 20, title: "Purchase Qty", sortable: true, align: "right" },
                { field: "OrderedCost", width: 20, title: "Purchase Cost", sortable: true, align: "right" },
                { field: "OrderTotal", width: 20, title: "Purchase Total", sortable: false, align: "right" },
                { field: "PurchasedQty", width: 20, title: "Sales Qty", sortable: true, align: "right" },
                { field: "PurchasedCost", width: 20, title: "Sales Cost", sortable: true, align: "right" },
                { field: "PurchasedTotal", width: 20, title: "Sales Total", sortable: false, align: "right" },
                { field: "Stock", width: 20, title: "Stock", sortable: false, align: "right" },
                { field: "StockTotal", width: 20, title: "StockTotal", sortable: false, align: "right" },
            ],
            pager: { enable: true, limit: GridRowsDisplayLimit, sizes: ArrPaging }
        });

        GrdStock.on('dataBound', function (e, records, totalRecords) {
            var ordtot = 0, purtot = 0, stktot = 0, $tfoot;
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '') * 1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            $.each(records, function () {
                ordtot += intVal(this.OrderTotal);
                purtot += intVal(this.PurchasedTotal);
                stktot += intVal(this.StockTotal);
            });
            $tfoot = GrdStock.children('tfoot');
            $tfoot.children('tr[data-role="summary"]').remove();
            $tfoot.prepend('<tr data-role="summary" style="text-align:right"><th>Total</th><th></th><th>' + ordtot.toFixed(2) + '</th><th></th><th></th><th>' + purtot.toFixed(2) + '</th><th></th><th></th><th>' + stktot.toFixed(2) + '</th></tr>');
        });

        $('#ProductSearch').autocomplete({
            minLength: 1,
            source: function (request, response) {
                var product = new Array();
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Product_PurchaseAutocomplete", "Common"))",
                    data: { "term": request.term, BrandID: $('#DdlBrand').val(), PartID: $('#DdlPart').val() },
                    success: function (data) {

                        if (data.records != null) {
                            if (data.records.length == 0) {
                                ErrorAlert("No results found!");
                                Result = false;
                                return false;
                            }
                            else if (data.DistributorID != 0) {
                                for (var i = 0; i < data.records.length; i++) {
                                    product[i] = { label: data.records[i].label, Id: data.records[i].id };
                                }
                            }
                        }

                    }
                });
                response(product);

            },
            select: function (event, ui) {
                $('#SelItem').val(ui.item.Id);
                return false;
            }

        });

        function ItemSearch() {
            var searchBrand = '';
            var searchPart = '';
            var searchItem = '';

            if ($("#DdlBrand").val() != "") {
                searchBrand = $('#DdlBrand').val();
            }

            if ($("#DdlPart").val() != 0) {
                searchPart = $('#DdlPart').val();
            }

            if ($("#SelItem").val() != "") {
                searchItem = $('#SelItem').val();
            }

            GrdStock.clear();
            GrdStock.reload({ BrandID: searchBrand, PartID: searchPart, ItemID: searchItem });
        }

        //Search filter methods
        $('#btnStockSearch').click(function () {
            ItemSearch();
        });

        $('#btnStockSearchClear').click(function () {
            $("#DdlBrand").val("");
            $("#DdlPart").val(0);
            $("#SelItem").val("");

            GrdStock.reload({ BrandID: 0, PartID: 0, ItemID: null });
        });
    </script>
    <style>
        ul.ui-autocomplete {
            z-index: 1100;
        }
    </style>
</head>
<body>
   
    <input type="hidden" id="SelItem" name="SelItem" />
    <!-- Content Wrapper. Contains page content -->
    <div class="content">
        <!-- Content Header (Page header) -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-pd">

                        <div class="card-header">
                            <span style="font-size: 18px;" class="m-0"><i class="fa fa-random"></i></span>
                            <span style="font-size: 18px; border-left: 1px solid #ccc; padding-left: 10px;"> Stocks</span>
                            <div style="float: right;">
                                <button onclick="GrdStock.downloadCSV()" class="gj-button-md">Download Data</button>
                               
                               
                                <span style="border-left: 1px solid #ccc; padding-left: 15px; padding-right: 15px; ">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Show Form" onclick="showForm()"><i class="fas fa-caret-square-down"></i></a>
                                </span><span style="border-left: 1px solid #ccc; padding-left: 15px; padding-right: 15px;">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Hide Form" onclick="hideForm()"><i class="fas fa-caret-square-up"></i></a>
                                </span>
                            </div>
                        </div>

                        <div class="card-body">
                            <div id="hidden-form" style="display: none;">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Brand</label>
                                            <div>
                                                @Html.DropDownList("DdlBrand", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control select2", @tabindex = 1, @width = "100%" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Part</label>
                                            <div>
                                                @Html.DropDownList("DdlPart", new SelectList(string.Empty, "Value", "Text"), new { @class = "form-control select2", @tabindex = 2, @width = "100%" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div style="padding: 15px; background-color: #f6f6f6;">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" style="font-size: 30px;"><i class="fas fa-barcode"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="ProductSearch" style="font-size: 20px; height: 50px;" placeholder="@PROPageModel.Purchase_pleaseaddproducttoorderlist">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <div class="pdt-25">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button type="button" id="btnStockSearch" class="btn btn-primary btn-block"><i class="fa fa-search"></i> @SparePro.Repository.WEBPAGEBUTTON.SEARCH</button>
                                                </div>
                                                <div class="col-sm-6">
                                                    <button type="button" id="btnStockSearchClear" class="btn btn-primary btn-block"><i class="fa fa-paint-brush"></i> @SparePro.Repository.WEBPAGEBUTTON.CLEAR</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box-body table-responsive no-padding">
                                        <table id="GrdStock" class="table table-hover"></table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- /.content-wrapper -->
        </div>
    </div>

    <script type="text/javascript">
        
       
    </script>

</body>


